Repository eclipse-sirius/sirius-web, pull requests merged in 2021-03, with the labels that each got.

#40 [releng] Upgrade to Sirius Components 0.2.8
  backend/sirius-web-frontend/pom.xml
  backend/sirius-web-sample-application/pom.xml
  frontend/package-lock.json
  frontend/package.json
Labels: pr: to be review soon, priority: high, waiting for sirius components

#47 [269] Upgrade to Spring Boot 2.4.4
  backend/sirius-web-frontend/pom.xml
  backend/sirius-web-sample-application/pom.xml
  frontend/package-lock.json
  frontend/package.json
Labels: area: backend, pr: to review later, priority: low

#49 [releng] Switch to sirius-components 0.2.18
  backend/sirius-web-frontend/pom.xml
  backend/sirius-web-sample-application/pom.xml
  frontend/package-lock.json
  frontend/package.json
Labels: pr: to be review soon, priority: high
